@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

*,
:before,
:after {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;

}

/*--------------------HEADER---------NAVIGATIONBAR--------------------------------*/

/*RICORDATI DI USAREW FLEX BASIS*/

header {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
}

#navbar-container {
    margin: 1%;
    padding: 0%;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar {
    margin: 0%;
    padding: 0%;
    width: 80%;
    height: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(254, 247, 226);
    border-radius: 3em;
}


#navbar-link-container {
    margin: 0%;
    padding: 0%;
    width: 40%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;



}

.nav-link:hover {
    transition: 300ms linear;
    transform: scale(1.3);
    font-weight: 600;


}

.nav-link:visited {
    color: black;
}

.nav-link {
    margin: 0%;
    padding: 0%;
    width: 80%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(254, 223, 126);
    border-radius: 3em;

}



#shop-link {
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#img-logo {
    margin: 0%;
    padding: 0%;
    width: 23%;
}



/*------------------------------MAIN-----------------------------------*/

main {
    margin: 0%;
    padding: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#card-product-container {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;

    width: 35%;
    background-color: rgb(254, 247, 226);
    border-radius: 3em;

}

#img-card {
    margin: 0%;
    padding: 0%;
    border-radius: 3em 3em 0em 0em;

}

#description-container {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

#title-container {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#title-container h3 {
    margin: 0%;
}

#title-container p {
    margin: 0%;
}

#price-container {
    margin: 0%;
}

#price-container h3 {
    margin: 0%;
}

#add-to-cart-button {
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12vh;

}

#add-to-cart-button button {
    margin: 0%;
    background-color: rgb(254, 223, 126);
    height: 6vh;

}

/*------------------------------FOOTER--------------------------------------*/

footer {
    margin: 0%;
    padding: 0%;
}